<p>This is a sample installation of the Poor Man's Comic Publisher.</p>

<p>To see this sample installation in action on the web, visit 
<a href="https://triskaideka.net/comicpub/">https://triskaideka.net/comicpub/</a>
(if that's not what you're already looking at!).</p>

<p>The latest version of PMCP is <a href="https://gitlab.com/Triskaideka/comicpub">available on GitLab</a>.</p>
